<section class="hero-section" id="hero-animation">
  <div class="hero-section__content">
    <img
      src="img/hero-layer-bg.jpg"
      alt="torii"
      class="hero-section__bg"
      id="hero-bg-layer"
    />
    <h1 class="hero-section__title" id="hero-title">Torii wiki</h1>
    <img
      src="img/hero-layer-1.png"
      alt="torii"
      class="hero-section__front-layer"
      id="hero-front-layer"
    />
    <img
      src="img/svg/hero-torii.svg"
      alt="vector torii"
      class="hero-section__vector-layer"
      id="hero-vector-layer"
    />
    <p class="hero-section__text" id="hero-text">
      A torii (Japanese: 鳥居, [to.ɾi.i]) is a traditional Japanese gate most
      commonly found at the entrance of or within a Shinto shrine, where it
      symbolically marks the transition from the mundane to the sacred
    </p>
  </div>
</section>
